/* WeChat share cover hint */

#mcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z - index: 998;
}

#cover {
  right: -30px;
  position: fixed;
  right: 18 px;
  top: 5 px;
  width: 260 px!important;
  height: 180 px!important;
  z - index: 999;
}
