th {
  text-align: center!important;
}

.username {
  display: block;
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}

.small-head {
  font-size: 10px!important;
}

#first {
  color: red;
  font-size: 22px;
}
.table>thead>tr>th{
  padding: 2px;
}
#second {
  color: #00BFFF;
  font-size: 20px;
}

#third {
  color: green;
  font-size: 18px;
}

.cover>img {
  z-index: -1;
  width: 100%;
}

.head {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.score {
  font-size: 15px;
}

tbody>tr>th {
  vertical-align: middle!important;
}

thead>tr>th {
  vertical-align: middle!important;
}
