<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>每日签到排行榜</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/asset_rank/css/signRank.css" />
</head>

<body>
  <div class="cover">
    <img src="http://file05.16sucai.com/2015/0609/a93f33d7f2341d86db21a45b831a6660.jpg" alt="" class="img-responsive">
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th class="score">
              <if condition="$myRecord['rank'] neq '-1'">
                <if condition="$myRecord['rank'] eq 1"><span class="label label-success">第{$myRecord['rank']}名</span>
                  <elseif condition="$myRecord['rank'] eq 2" /><span class="label label-info">第{$myRecord['rank']}名</span>
                  <elseif condition="$myRecord['rank'] eq 3" /><span class="label label-info">第{$myRecord['rank']}名</span>
                  <else/><span class="label label-primary">第{$myRecord['rank']}名</span>
                </if>
                <else/> <span class="label label-default">尚无名次</span>
              </if>
            </th>
            <th>
              <img src="{$myRecord['face_url']}" alt="" class="img-circle head">
                <text class="username" id="myName" data="{$myRecord[username]}">我</text>
            </th>
            <th class="score"><span class="label label-warning" id="myDays">{$myRecord['days']}天</span></th>
            <th class="score">
              <if condition="$myRecord['rank'] eq '-1' ">
					<if condition="time() lt strtotime('8:00 am')">
						<span class="label label-default">尚未签到
					<else />
						<span class="label label-danger">早起失败
					</if>
			  <else /><span class="label label-success" id="myTime"><php>echo date("H:i:s",strtotime($myRecord['time']));</php>
			  </if>
			</span></th>
          </tr>
        </thead>
        <thead id="small-thead">
          <tr>
            <th>排名</th>
            <th>用户名</th>
            <th>累计签到</th>
            <th>签到时间</th>
          </tr>
        </thead>
        <tbody>
          <foreach name="list" item="vo">
            <tr>
              <if condition="$key eq 0">
                <th id="first"><i>{$key+1}</i></th>
                <elseif condition="$key eq 1" />
                <th id="second"><i>{$key+1}</i></th>
                <elseif condition="$key eq 2" />
                <th id="third"><i>{$key+1}</i></th>
                <else/>
                <th>{$key+1}</th>
              </if>
              <th>
                <img src="{$vo['face_url']}" alt="" class="img-circle head">
                <text class="username">{$vo['username']}</text>
              </th>
              <th class="score"><span class="label label-warning">{$vo['days']}天</span></th>
              <th class="score">
				  <if condition="$vo['time'] eq NULL ">
					<if condition="time() lt strtotime('8:00 am')">
						<span class="label label-default">尚未签到
					<else />
						<span class="label label-danger">早起失败
					</if>
				<else /><span class="label label-success"><php>echo date("H:i:s",strtotime($vo['time']));</php>
				</if>
			  </span></th>
            </tr>
          </foreach>
        </tbody>
      </table>
    </div>
  </div>
</body>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
    <script src="__PUBLIC__/asset_rank/js/WxJS.js"></script> 

</html>
